# Build & Output
build/
out/
dist/
tmp/
cache/

# Kernel build
*.o
*.ko
*.mod.*
*.cmd
modules.order
Module.symvers

# Packages
*.pkg.tar.zst

# ISO / Images
*.iso
*.img

# Logs
*.log

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc